* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  padding: 40px 20px 0px;
}
.box {
  margin-bottom: 20px;
}
.box h3 {
  font-weight: 700;
  color: rgb(214, 124, 40);
  margin-bottom: 20px;
}
.content {
  font-size: 18px;
  margin-bottom: 16px;
}
.btn-show-hide {
  width: 100px;
  height: 40px;
  border: 1px solid rgb(214, 124, 40);
  background-color: rgb(214, 124, 40);
  color: #fff;
  text-align: center;
  cursor: pointer;
}
/* dynamically add js class start */
.hide {
  display: none;
}
/* dynamically add js class end */

/* add dots with css */
.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* add dots with css */
